.card {
	position: relative;
	padding: 5px;
	margin-left: 25px;
	margin-bottom: 15px;
	width: 190px;
	height: 200px;
	background-color: rgb(230, 230, 230);
}
.removeC {
	position: absolute;
	margin: 5px;
	top: 0;
	right: 0;
	border-radius: 100%;
	width: 25px;
	height: 25px;
	color: white;
	background-color: rgb(199, 3, 1);
	border: none;
}

.nameCardC {
	width: 140px;
	margin: 5px;
	background-color: rgba(60, 65, 97, 0.781);
	color: white;
	font-size: 18px;
	border: 2px solid rgb(24, 197, 143);
}
.description {
	font-size: 15px;
	margin: 5px;
	width: 140px;
	height: 120px;
}

.none {
	display: none;
}

.copyBtn {
	position: absolute;
	margin: 5px;
	top: 30px;
	right: 0;
	text-decoration: none;
	width: 25px;
	height: 25px;
	font-size: 20px;
	color: rgb(60, 65, 97);
	border: none;
	background-color: rgb(230, 230, 230);
}
